<h1>Palabras locas</h1>


<div>
    <h3>¿Cuál es la palabra?</h3>
    <h1 name="palabra"><%= @palabra %></h1>
</div>

<form action="/validar" method="POST">        
    <button type="submit">Validar</button>
</form>