<h1>Palabras locas</h1>


<div>
    <h3>¿Cuál es la palabra?</h3>
    <br />
    <h2><%= @status_message %></h2>
    <br />
    <h4>Tienes <%= @attempts %> intentos</h4>    
    <br />
    <h1 name="scrambled_word"><%= @scrambled_word %></h1>
</div>

<form action="/validate" method="POST">  
    <input type="text" name="answer" autocomplete="off" autofocus />      
    <button type="submit">Validar</button>
</form>