<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Ganaste</h1>
        <img src="win.jpg" width="400"/>
        <br>
        <a href="/" >Jugar de nuevo</a>
    </div>
</body>
</html>